/* src/App.css */
.App {
  font-family: sans-serif;
  text-align: center;
}

textarea {
  font-family: monospace;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

